
<section class="tile dialog-position" >
	<fd-space-definition-form [model]="getSelectedSpaceDefinition()[0]" [visible]="showDialog"></fd-space-definition-form>
	
</section>

<section id='game-board'>
	<fd-gameboard #gameboard
		[mapFile]="mapFile"
		(delete)="removeSelectedElements()"
		(boardClick)="onBoardClicked($event)">
			<fd-space-definition 
				[data]="sd"  
				*ngFor="let sd of spaceDefinitions$ | async"
				(tokenClicked)="onTokenClicked($event)">
			</fd-space-definition>
	</fd-gameboard>

</section>